

<web-app>

  <servlet>
    <servlet-name>HallServlet</servlet-name>
    <servlet-class>ru.job4j.servlets.HallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServlet</servlet-name>
    <url-pattern>/hall</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>ru.job4j.servlets.PaymentServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>

</web-app>
